@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
  --color-primary: #291e08;
  --color-background-light: #faf7f2;
  --color-text-main: #291e08;
  --color-accent-muted: #9c8580;
  --color-accent: #de8bbd;

  --font-display: "Manrope", sans-serif;
}

body {
  margin: 0;
  background-color: var(--color-background-light);
  color: var(--color-text-main);
  font-family: system-ui, "Segoe UI", Roboto, sans-serif;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
* {
  cursor:
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='%23de8bbd' stroke='%23291e08' stroke-width='1' d='M3 3 L3 19 L7.5 15.4 L10.2 22 L13 20.4 L10.4 14.2 L19 15 Z'/></svg>")
      4 3,
    auto !important;
}
